# Ignore all files with certain extensions

*.mti
*.mpf
*.cmp
*.wlf
*.bak

# Directories to ignore

.qsys_edit/
db/
greybox_tmp/
incremental_db/
output_files/
work/

# Ignore specific files

transcript
